<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdms.dao.NoticeMapper" >
  <resultMap id="BaseResultMap" type="com.gdms.pojo.Notice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="author" property="author" jdbcType="INTEGER" />
    <result column="dateline" property="dateline" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.gdms.pojo.Notice" extends="BaseResultMap" >
    <result column="text" property="text" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, subject, type, author, dateline
  </sql>
  <sql id="Blob_Column_List" >
    text
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from notice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectCollage" resultMap="ResultMapWithBLOBs" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from notice
    where type = 3 
  </select>
  <select id="selectByTeacherId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from notice
    where type = 1 and author = #{teacherId, jdbcType=INTEGER}
  </select>
  <select id="selectByMajor" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    notice.id, subject, notice.type, author, dateline, text
    from notice, user
    where notice.type = 2 and user.id = notice.author and major = #{major, jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from notice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gdms.pojo.Notice" >
    insert into notice (id, subject, type, 
      author, dateline, text
      )
    values (#{id,jdbcType=INTEGER}, #{subject,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{author,jdbcType=INTEGER}, #{dateline,jdbcType=TIMESTAMP}, #{text,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gdms.pojo.Notice" >
    insert into notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="dateline != null" >
        dateline,
      </if>
      <if test="text != null" >
        text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        #{author,jdbcType=INTEGER},
      </if>
      <if test="dateline != null" >
        #{dateline,jdbcType=TIMESTAMP},
      </if>
      <if test="text != null" >
        #{text,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gdms.pojo.Notice" >
    update notice
    <set >
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=INTEGER},
      </if>
      <if test="dateline != null" >
        dateline = #{dateline,jdbcType=TIMESTAMP},
      </if>
      <if test="text != null" >
        text = #{text,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.gdms.pojo.Notice" >
    update notice
    set subject = #{subject,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      author = #{author,jdbcType=INTEGER},
      dateline = #{dateline,jdbcType=TIMESTAMP},
      text = #{text,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gdms.pojo.Notice" >
    update notice
    set subject = #{subject,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      author = #{author,jdbcType=INTEGER},
      dateline = #{dateline,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>