<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdms.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.gdms.pojo.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="work_id" property="workId" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="jobtitle" property="jobtitle" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="issue_id" property="issueId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, work_id, password, major, introduction, grade, name, jobtitle, type, amount, 
    issue_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByWorkId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where work_id = #{work_id,jdbcType=INTEGER}
  </select>
  <select id="selectByWorkIdandPassword" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where work_id = #{0,jdbcType=VARCHAR} and password = #{1,jdbcType=VARCHAR}
  </select>
  <select id="getLastStudentByMajor" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user where id not in (SELECT student_id from tutor_stu) and major = #{0, jdbcType=VARCHAR} and type = 8 and grade = #{1, jdbcType=INTEGER}
  </select>
  <select id="selectTeacherByMajor" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where major = #{major, jdbcType=VARCHAR} and (type = 1 or type = 3 or type = 5 or type = 7) 
  </select>
  <select id="selectChoiseMeStudent" resultMap="BaseResultMap">
    select 
    user.id, work_id, password, major, introduction, grade, name, jobtitle, type, amount, 
    issue_id
    from user, stu_tutor
    where student_id=user.id and teacher_id=#{0,jdbcType=INTEGER} and grade = #{1, jdbcType=INTEGER}
  </select>
  <select id="selectStudentByTeacherId" resultMap="BaseResultMap">
    select 
    user.id, work_id, password, major, introduction, grade, name, jobtitle, type, amount, 
    issue_id
    from user, tutor_stu
    where student_id=user.id and teacher_id=#{0,jdbcType=INTEGER} and grade = #{1, jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gdms.pojo.User" >
    insert into user (id, work_id, 
      password, major, introduction, 
      grade, name, jobtitle, 
      amount, type, issue_id)
    values (#{id,jdbcType=INTEGER}, #{workId,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{grade,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{jobtitle,jdbcType=VARCHAR}, 
      #{amount,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{issueId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gdms.pojo.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="workId != null" >
        work_id,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="jobtitle != null" >
        jobtitle,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="issueId != null" >
        issue_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="workId != null" >
        #{workId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="jobtitle != null" >
        #{jobtitle,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="issueId != null" >
        #{issueId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gdms.pojo.User" >
    update user
    <set >
      <if test="workId != null" >
        work_id = #{workId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="jobtitle != null" >
        jobtitle = #{jobtitle,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="issueId != null" >
        issue_id = #{issueId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gdms.pojo.User" >
    update user
    set work_id = #{workId,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      jobtitle = #{jobtitle,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      issue_id = #{issueId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>