/*header*/
.header-top{
	width: 100%;
	height: 30px;
	background: #D7D7D7;
}
.nav-left li{
	display: block;
	float: left;
	color: #3F3F3F;
    padding: 5px 12px;
}
.nav-right li{
	display: block;
	float: left;
	color: #3F3F3F;
    padding: 5px 12px;
}
.nav-right li:last-child{
    padding: 5px 0px 5px 12px;;
}
.header-wrap{
	width: 100%;
	height: 110px;
	background: #F8F8F8;
}
.logo{
	width: 500px;
}
.wrap-tit{
	height: 110px;
}
.wrap-tit h1{
	color: #08C;
	line-height: 70px;
}



/*content*/
.login-content{
	min-height: 430px;
}


.login-form{
	
}


/*footer*/
.footer-top{
	width: 100%;
	height: 45px;
	background: #D7D7D7;
}
.footer-top-nav{
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
}

.footer-top-nav ul li{
	padding: 0px 10px 0px 15px;
	display: inline-block;
}
.footer-top-nav ul .pipe{
    color: #909090;
}
.footer-wrap{
	width: 100%;
}
.copyright{
	text-align: center;
}





